parameters:
	ignoreErrors:
		-
			message: "#^Constructor in Ergebnis\\\\PhpCsFixer\\\\Config\\\\RuleSet\\\\AbstractRuleSet has parameter \\$header with default value\\.$#"
			count: 1
			path: src/RuleSet/AbstractRuleSet.php

		-
			message: "#^Method Ergebnis\\\\PhpCsFixer\\\\Config\\\\RuleSet\\\\AbstractRuleSet\\:\\:__construct\\(\\) has parameter \\$header with a nullable type declaration\\.$#"
			count: 1
			path: src/RuleSet/AbstractRuleSet.php

		-
			message: "#^Method Ergebnis\\\\PhpCsFixer\\\\Config\\\\RuleSet\\\\AbstractRuleSet\\:\\:__construct\\(\\) has parameter \\$header with null as default value\\.$#"
			count: 1
			path: src/RuleSet/AbstractRuleSet.php

		-
			message: "#^Method Ergebnis\\\\PhpCsFixer\\\\Config\\\\Test\\\\Unit\\\\RuleSet\\\\AbstractRuleSetTestCase\\:\\:createRuleSet\\(\\) has parameter \\$header with a nullable type declaration\\.$#"
			count: 1
			path: test/Unit/RuleSet/AbstractRuleSetTestCase.php

		-
			message: "#^Method Ergebnis\\\\PhpCsFixer\\\\Config\\\\Test\\\\Unit\\\\RuleSet\\\\AbstractRuleSetTestCase\\:\\:createRuleSet\\(\\) has parameter \\$header with null as default value\\.$#"
			count: 1
			path: test/Unit/RuleSet/AbstractRuleSetTestCase.php

		-
			message:
				"""
					#^Call to deprecated method create\\(\\) of class PhpCsFixer\\\\RuleSet\\\\RuleSet\\:
					will be removed in 3\\.0 Use the constructor\\.$#
				"""
			count: 1
			path: test/Unit/RuleSet/AbstractRuleSetTestCase.php

		-
			message:
				"""
					#^Call to method create\\(\\) of deprecated class PhpCsFixer\\\\RuleSet\\\\RuleSet\\:
					will be removed in 3\\.0, use \\\\PhpCsFixer\\\\RuleSet\\\\RuleSet$#
				"""
			count: 1
			path: test/Unit/RuleSet/AbstractRuleSetTestCase.php

