parameters:
	ignoreErrors:
		-
			message: "#^Constructor in Ergebnis\\\\PhpCsFixer\\\\Config\\\\RuleSet\\\\AbstractRuleSet has parameter \\$header with default value\\.$#"
			count: 1
			path: src/RuleSet/AbstractRuleSet.php

		-
			message: "#^Method Ergebnis\\\\PhpCsFixer\\\\Config\\\\RuleSet\\\\AbstractRuleSet\\:\\:__construct\\(\\) has parameter \\$header with a nullable type declaration\\.$#"
			count: 1
			path: src/RuleSet/AbstractRuleSet.php

		-
			message: "#^Method Ergebnis\\\\PhpCsFixer\\\\Config\\\\RuleSet\\\\AbstractRuleSet\\:\\:__construct\\(\\) has parameter \\$header with null as default value\\.$#"
			count: 1
			path: src/RuleSet/AbstractRuleSet.php

		-
			message: "#^Method Ergebnis\\\\PhpCsFixer\\\\Config\\\\Test\\\\Unit\\\\RuleSet\\\\AbstractRuleSetTestCase\\:\\:createRuleSet\\(\\) has parameter \\$header with null as default value\\.$#"
			count: 1
			path: test/Unit/RuleSet/AbstractRuleSetTestCase.php

