includes:
	- phpstan-baseline.neon

parameters:
	classesAllowedToBeExtended:
		- Ergebnis\PhpCsFixer\Config\RuleSet\AbstractRuleSet
		- Ergebnis\PhpCsFixer\Config\Test\Unit\RuleSet\AbstractRuleSetTestCase
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- src
		- test
	tmpDir: %currentWorkingDirectory%/.build/phpstan
